{% extends 'base.html.twig' %}
{% block title %}LMA | Mentions Légales
{% endblock %}
{% block body %}

	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center text-white">
					<h2 class="text-white mt-0">Mentions Légales</h2>
					<hr class="divider divider-light"/>
					<h3>DÉNOMINATION ET SIÈGE SOCIAL</h3>
					<h4>La Mère Agitée</h4>
					<p>Le Roux Gaëlle, Artiste du collage et relookeuse de mobilier</p>
					<p>Adresse: 17 rue Bagot - 22000 Saint brieuc
					</p>
					<p>Tél. +33 6 64 75 05 20</p>
					<p>E-mail: lesmeresagitees@gmail.com</p>
					<p>N° Siret: 443 366 570 00036</p>
					<hr class="divider divider-light"/>
					<br>
					<h3>HEBERGEUR</h3>
					<h4>PlanetHoster</h4>
					<p>Adresse : 4416 Rue Louis-B.-Mayer, Laval, QC H7P 0G1, Canada</p>
					<p>Téléphone : +1 855-774-4678</p>
					<p>Site web : www.planethoster.net/fr</p>
					<hr class="divider divider-light"/>
					<br>
					<H3>REALISATION DU SITE</H3>
					<p>Quentin Meunier</p>
					<p>Lieu dit kerguineau - 22580 Plouha</p>
					<p>quentin.meunierpro22@gmail.com</p>
					<p>Tèl. +33 7 87 32 65 09</p>
					<p>Site web: www.quentinmdev.fr</p>
					<p>Stage AFPA FORMATION DEVELLOPPEMENT WEB ET WEB MOBILE 2021</p>
					<p></p>
				</div>
			</div>
		</div>

	{% endblock %}
